.ctn{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 500px;
    height: 670px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(top,#565BFD,#12145C );
    padding-right: 80px;
    padding-left: 80px;
}
.img-form{
   width: 170px;
   align-self: center;
   margin-top: 55px;
}
.title-form{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 1.2;
    align-self: center;
}
input{
    outline: none;
    border: none;
   
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}
::placeholder{
    color: white;
}
.line-input{
    align-self: center;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.60);
    margin-bottom: 30px;
    position: relative;
}
.progress{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.progress::before{
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: 0.4s;
    bottom: -1px;
}
.progress-2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.progress-2::before{
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: 0.4s;
    bottom: -1px;

}

.input-login{
    background: none;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}
.input-check{
    display: none;
}
.label-check{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 1.2;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    position: relative;
}
.label-check::before{
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login{
    margin-top: 40px;
    width: 120px;
    align-self: center;
    height: 50px;
    border-radius: 25px;
    /* padding: 0 20px; */
    background: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    transition: 0.4s;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    transition: .7s;
}
.btn-login:hover{
    background: #12145C;
    color: #fff;
    
}