{% extends 'base.html.twig' %}

{% block title %}Mon Dashboard{% endblock %}
{% block stylesheets %}{% endblock %}


{% block body %}

<div class="dash-top-bar">
    <a href=" {{ path('project') }}">Aller sur mon site</a>
    <p>Bonjour {{ app.user.name }}</p>
</div>
<div class="dash-left-bar">
    <img class="dash-left-bar_img" src="{{ asset('upload/1.png') }}" alt="">
    <a href="{{ path('list_project') }}" class="dash-left-bar_onglet"><i class="fas fa-laptop-code"></i><p>Projects</p></a>
    <a href="" class="dash-left-bar_onglet"><i class="fas fa-building"></i><p>Experiencs Pro</p></a>
    <a href="" class="dash-left-bar_onglet"><i class="fas fa-code"></i><p>Skills</p></a>
    <a href="" class="dash-left-bar_onglet"><i class="fas fa-align-left"></i><p>About Me</p></a>
</div>

{% endblock %}
